# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
ocm-state-metrics
!cmd/ocm-state-metrics
ocm-state-metrics-coverage
.build-harness-bootstrap
test/unit/coverage
test/out
test/functional/tmp
test/functional/coverage
test/e2e/resources/clusters
test/e2e/resources/hub/kube
kind_kubeconfig.yaml

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
build-harness
build-harness-extensions